.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 48px 12px;
  min-height: 100vh;
}

@media only screen and (min-width: 700px) {
  .main {
    padding: 96px 12px;
  }
}

.mainTitle {
  margin: 10px 0;
}

.texts {
  margin: 0 14px 14px;
  max-width: 740px;
}

@media only screen and (min-width: 450px) {
  .texts {
    font-size: 20px;
  }
}

.texts p {
  text-indent: 30px;
}
