.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 12px;
  /* padding: 48px 12px; only the top and bottom bar */
  min-height: 100vh;
}

.homeImg {
  width: 100%;
  max-width: 310px;
}

.text {
  text-align: center;
}
